@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Space Grotesk", sans-serif;
}
nav {
  border: 2px red solid;
}
.navlinks {
  border: 2px black solid;
}

button {
  border: 2px black solid;
  border-radius: 1rem;
  background: #191a23;
  color: white;
}
button:hover {
  background: #b9ff66;
  transition: 0.5s ease-in-out;
}
.home {
  border: 2px pink solid;
}
.wrapper {
  background: #f3f3f3;
  border: 2px solid #191a23;
  width: 100%;
  transition-behavior: normal;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
}
.card {
  width: 100%;
  object-fit: contain;
}
.lm {
  margin: 0 10px 0 20px;
  width: fit-content;
}
.learnMore {
  border: none;
  background: none;
}
.learnMore:hover {
  background: #b9ff66;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 5px;
  padding: 0px 10px 0px 20px;
  transition: 0.2ms;
}

.subCard {
  padding: 50px;

  border: 2px black solid;
  min-width: calc(420px - (var(--padding) * 2));
}
.learnMore2 {
  border: none;
  background: none;
}
.learnMore2:hover {
  background: white;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 5px;
  padding: 0px 10px 0px 20px;
  transition: 0.2ms;
}
.quote {
  background: white;
  color: black;
}
.icon {
  top: -30px;
  right: 0;
  transition: 0.2s;
  z-index: -1;
}
.mainCard {
  width: 100%;
  border-radius: 45px;
  padding: 60px;
  display: flex;
  gap: 50px;
}
.subText {
  width: 30%;
  min-width: 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}
.middle {
  padding: 0 50px;
  border-left: 2px solid white;
  border-right: 2px solid white;
}

.caseStudy,
.working {
  flex-shrink: 0;
  border-radius: 7px;
  width: max-content;
  padding: 0 10px;
  place-content: center;
}
.desc {
  max-width: 600px;
}

.accordionTop {
  background: #f3f3f3;
  padding: 40px 60px;
  width: 100%;
  height:fit-content;
  overflow: hidden;
}
